data/*
!data/streams_v2.geojson
!data/streams_v3.geojson
.vscode/
_nothing.md
src/__pycache__
results/intermediate/velocity/*.tif*
results/**/
!results/figures
*.gif
*.html
*.tif.aux.xml
*.tif
results/intermediate/velocity/*
*checkpoints
*.out
id*.txt
renamer.sh
GRD/
